body{
	background-color: #D4E4EF;
	color: #628D62;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

header nav #text-links{
	font-size: 200%;
	position: absolute;
	top: 5%;
	left: 20%;
	word-spacing: 10px;
}

a:link	{	
	color:	#000;
	text-decoration: none;
}	

a:visited	{	
	color:	#000;
	text-decoration: none;
}	

a:active	{	
	color:	#900;
	text-decoration: none;
}	

a:hover	{	
	color:	#638D8D;
	text-decoration: none;
}	

article{
	position: relative;
	left: 35%;
	bottom: 500px;
	font-size: 140%;
	width: 65%;
	height: 700px;
}

form{
	border-color: #000;
	border-style: double;
	width: 90%;
	padding: 2%;
}

aside{
	width: 20%;
	position: relative;
	top: 200px;
}


h2{
	font-size: 200%;
}

h3{
	font-size: 180%;
	background-color: #00f;
	color: #fff;
	padding: 2%;
}

footer{
	width: 98%;
	position: absolute;
	top: 1500px;
}

#services-images,
article p{
	width: 70%;
}

#downloadPortfolio{
	height: 35px;
	width: 192px;
	font-size: 17px;
	padding-top: 9px;
	padding-left: 7px;
	/*color: white;
	background-image: url(../images/donload-button.jpg);*/
}

form{
	text-align: center;
}

#widebox{
	position: relative;
	left: 20%;
	bottom: 350px;
	width: 80%;
}

#widebox p{
	position: relative;
	bottom: 150px;
	left: 2%;
	font-size: 200%;
	width: 50%;
	color: white;
}

input{
	color: black;
}

label{
	font-weight: bold;
}

#main-image{
	width: 92%;
	text-align: center;
	background: grey;
}

#slide-show{
	width: 90%;
	background: #000;
	padding: 10px;
}

.thumbnail{
	padding-right: 10px;
}